<!DOCTYPE html>
<style>
.flex{
	display: flex;
}
.f-center{
	justify-content: center;
	align-items: center;
}
.padding10{
	padding: 10px;
}
.under-line{
	border-bottom: 1px solid black;
}
.min-height100{
	min-height:100px;
}
</style>

<nav class="flex f-center under-line min-height100">
	<div class="padding10">
		<a href="#">HOME</a>
	</div>
	<div  class="padding10">
		<a href="#">학생관리</a>
	</div>
	<div  class="padding10">
		<a href="#">시험관리</a>
	</div>
	<div  class="padding10">
		<a href="#">성적관리(학생별 성적검색)</a>
	</div>
</nav>