	
	<div class="flex f-center under-line width950">
		<div class="border-right width75 t-center">
			순번
		</div>
		<div class="border-right width150 t-center">
			과목이름
		</div>
		<div class="border-right width150 t-center">
			시험분류
		</div>
	</div>
	<div class="flex f-center under-line width950">
		<div class="border-right width75 t-center">
			1
		</div>
		<div class="border-right width150 t-center">
			사회과학적사고
		</div>
		<div class="border-right width150 t-center">
			중간고사
		</div>
	</div>
	<div class="flex f-center under-line width950">
		<div class="border-right width75 t-center">
			2
		</div>
		<div class="border-right width150 t-center">
			헌법 개론
		</div>
		<div class="border-right width150 t-center">
			중간고사
		</div>
	</div>

	<div class="width950 flex f-end">
		<button type="button" class="margin10">시험등록</button>
	</div>
	