	
	<div class="flex f-center under-line width950">
		<div class="border-right width75 t-center">
			순번
		</div>
		<div class="border-right width150 t-center">
			학번
		</div>
		<div class="border-right width100 t-center">
			이름
		</div>
		<div class="border-right width150 t-center">
			전공
		</div>
		<div class="border-right width100 t-center">
			학년
		</div>
		<div class="border-right width75 t-center">
			성별
		</div>
		<div class="border-right width150 t-center">
			연락처
		</div>
		<div class="width150 t-center">
			이메일
		</div>
	</div>
	<div class="flex f-center under-line width950">
		<div class="border-right width75 t-center">
			1
		</div>
		<div class="border-right width150 t-center">
			1234567
		</div>
		<div class="border-right width100 t-center">
			홍길동
		</div>
		<div class="border-right width150 t-center">
			법학과
		</div>
		<div class="border-right width100 t-center">
			3
		</div>
		<div class="border-right width75 t-center">
			남자
		</div>
		<div class="border-right width150 t-center">
			010-1111-1111
		</div>
		<div class="width150 t-center">
			hong@gmail.com
		</div>
	</div>
	<div class="flex f-center under-line width950">
		<div class="border-right width75 t-center">
			2
		</div>
		<div class="border-right width150 t-center">
			1545451
		</div>
		<div class="border-right width100 t-center">
			이성순
		</div>
		<div class="border-right width150 t-center">
			체육교육과
		</div>
		<div class="border-right width100 t-center">
			2
		</div>
		<div class="border-right width75 t-center">
			남자
		</div>
		<div class="border-right width150 t-center">
			010-2222-2222
		</div>
		<div class="width150 t-center">
			lee@gmail.com
		</div>
	</div>

	<div class="width950 flex f-end">
		<button type="button" class="margin10">학생등록</button>
		<button type="button" class="margin10">학생등록</button>
	</div>
	