	
	
	
	
	
	<div>
		이름
	</div>
	
	<div class="flex f-center under-line width950">
		<div class="border-right width75 t-center">
			순번
		</div>
		<div class="border-right width150 t-center">
			시험코드
		</div>
		<div class="border-right width100 t-center">
			과목명
		</div>
		<div class="border-right width150 t-center">
			시험분류
		</div>
		<div class="border-right width100 t-center">
			점수
		</div>
	</div>
	<div class="flex f-center under-line width950">
		<div class="border-right width75 t-center">
			1
		</div>
		<div class="border-right width150 t-center">
			1
		</div>
		<div class="border-right width100 t-center">
			인간심리
		</div>
		<div class="border-right width150 t-center">
			중간고사
		</div>
		<div class="border-right width100 t-center">
			100
		</div>
	</div>
	<div class="flex f-center under-line width950">
		<div class="border-right width75 t-center">
			2
		</div>
		<div class="border-right width150 t-center">
			2
		</div>
		<div class="border-right width100 t-center">
			헌법총론
		</div>
		<div class="border-right width150 t-center">
			중간고사
		</div>
		<div class="border-right width100 t-center">
			88
		</div>
	</div>

	<div class="width950 flex f-end">
		<button type="button" class="margin10">조회하기</button>
		<button type="button" class="margin10">점수등록</button>
	</div>
	