@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

fieldset, img {border:0 none;}

ol, ul{
    list-style: none; margin: 0; padding: 0;
}

table{
    border-collapse: separate;
    border-spacing: 0;
    border: 0 none;
}
caption, th, td{
    text-align: left;
    font-weight: normal;
}